In [19]:
import pandas as pd
import tkinter as tk
from tkinter import filedialog

root = tk.Tk()
root.wm_attributes('-topmost', 1)
root.withdraw()

import_results = pd.DataFrame(columns=['Dataset', 'Average Accuracy', 'Average Precision', 
                                'Average Recall', 'Average F1'])

file_path = filedialog.askopenfilename(parent=root, title="Select A File")
results_set = pd.read_csv(file_path)

agg_results = import_results._append(results_set)

agg_results

      Dataset  Average Accuracy  Average Precision  Average Recall  Average F1
0  nyse_daily          0.514634           0.567364        0.533256    0.542568

In [20]:
file_path = filedialog.askopenfilename(parent=root, title="Select A File")
results_set = pd.read_csv(file_path)

agg_results = import_results._append(results_set)

agg_results

      Dataset  Average Accuracy  Average Precision  Average Recall  Average F1
0  nyse_daily          0.514634           0.567364        0.533256    0.542568

In [18]:
agg_results

      Dataset  Average Accuracy  Average Precision  Average Recall  Average F1
0  nyse_daily          0.514634           0.567364        0.533256    0.542568